<%= stylesheet_link_tag 'gg_er.css', :plugin => 'gg_er_zs14gd' %>

<%= javascript_include_tag 'docxtemplater.v3.9.6.js', :plugin => 'gg_z_hdy' %>
<%= javascript_include_tag 'html-module.js', :plugin => 'gg_z_hdy' %>
<%= javascript_include_tag 'jszip.js', :plugin => 'gg_z_hdy' %>
<%= javascript_include_tag 'FileSaver.js', :plugin => 'gg_z_hdy' %>
<%= javascript_include_tag 'jszip-utils.js', :plugin => 'gg_z_hdy' %>


<%= hidden_field_tag "hid_project_id", @project[:id], :id=>"hid_project_id" %>
<%= hidden_field_tag "hid_project_name", @project[:name], :id=>"hid_project_name" %>
<%= hidden_field_tag "hid_issue_id", @issue[:id], :id=>"hid_issue_id" %>
<%= hidden_field_tag "hid_issue_name", @issue[:subject], :id=>"hid_issue_name" %>
<%= hidden_field_tag "hid_tracker_id", @issue[:tracker_id], :id=>"hid_tracker_id" %>


<% if ! Setting.plugin_gg_doc_collect['target_quality_tracker'].blank? && ! Setting.plugin_gg_doc_collect['target_quality_issue_status_epw'].blank?  %>
  <% cf_code_id = GgGenerateFileCode.find_by("tracker_id = ?",@issue[:tracker_id]) %>
  <% if !cf_code_id.blank?  %>
    <% cf_code = CustomField.find(cf_code_id[:custom_field_id])%>
    <% cv_code = @issue.custom_field_value(cf_code) %>
  <% else %>
    <% cv_code = "" %>
  <% end %>
  <% cf_fxdy = CustomField.find(Setting.plugin_gg_doc_collect['custom_field_fxdy_target_quality_issue'].to_i)%>
  <% cv_fxdy = @issue.custom_field_value(cf_fxdy)%>
  <%= hidden_field_tag "hid_cv_code", cv_code, :id=>"hid_cv_code" %>
  <%= hidden_field_tag "hid_cv_fxdy", cv_fxdy, :id=>"hid_cv_fxdy" %>
  <% str_trackers = "," +  Setting.plugin_gg_doc_collect['target_quality_tracker'] + "," %>
  <% str_tracker_status = "," + Setting.plugin_gg_doc_collect['target_quality_issue_status_epw'] + "," %>
  <% if (str_trackers.include? (',' + @issue.tracker_id.to_s + ',')) && (str_tracker_status.include? (","+ @issue.status.id.to_s + ",")) %>
    <div class="primary-actions">
      <%= link_to "导出到WORD", "javascript:create_letter_doc_report()", :class => 'icon icon-page button-positive' %>
    </div>
  <% end %>
<% end %>

<script>
  function getDocIssueData(){
    var IssueObj = {};
    const project_id = $("#hid_project_id").val();
    const issue_id = $("#hid_issue_id").val();
    const project_name = $("#hid_project_name").val();
    const depart = $("#hid_cv_fxdy").val();
    const code = $("#hid_cv_code").val();
    var issueInfo = {};
    $.ajax({
      url: "/issues/"+issue_id+".json",
      type: 'GET',
      async: false,
      dataType: 'json',
      success: function(data){
        issueInfo = data.issue
        for(let i in issueInfo.custom_fields){
          let  key = "issue_custom_field_" + issueInfo.custom_fields[i].id.toString()
          IssueObj[key] = issueInfo.custom_fields[i].value?issueInfo.custom_fields[i].value:""
        }
      }
    })
    $.ajax({
      url: "/projects/"+project_id+".json",
      type: 'GET',
      async: false,
      dataType: 'json',
      success: function(data){
        let projectInfo = data.project
        for(let i in projectInfo.custom_fields){
          let  key = "project_custom_field_" + projectInfo.custom_fields[i].id.toString()
          IssueObj[key] = projectInfo.custom_fields[i].value?projectInfo.custom_fields[i].value:""
        }
      }
    })
    $.ajax({
      url:  "/projects/"+project_id +"/doc_collect/"+issue_id+"/get_doc_word_template_relation_issue.json",
      type: 'GET',
      async: false,
      dataType: 'json',
      success: function(data){
        IssueObj["relation_issue_subject"] = data.relation_issue.subject;
      }
    })
    //字段
    IssueObj["depart"] = depart;
    IssueObj["project_id"] = project_id;
    IssueObj["project_name"] = project_name;
    IssueObj["issue_id"] = issueInfo.id;
    IssueObj["issue_name"] = issueInfo.subject;
    IssueObj["code"] =  code;
    IssueObj["author"] =  issueInfo.author.name;
    IssueObj["start_date"] = issueInfo.start_date;
    IssueObj["due_date"] = issueInfo.due_date;
    return IssueObj;
  }


  function create_letter_doc_report(){
    function loadFile(url,callback){
      JSZipUtils.getBinaryContent(url,callback);
    }
    const project_id = $("#hid_project_id").val();
    const issue_name = $("#hid_issue_name").val();
    var depart = (issue_name.split("【")[1]).split("】")[0];
    var attch_contid = "";
    $.ajax({
      url: "/projects/"+project_id +"/doc_collect/quality_query.json?quality_name="+depart,
      type: 'get',
      async: false,
      success: function(data){
        if(data.attachments){
          attch_contid = data.attachments
        }
      }
    })
    if(!attch_contid){
      return alert("无模板")
    }
    var template_url = "/projects/"+project_id +"/"+ attch_contid +"/doc_template/word_template_url";
    loadFile(template_url,function(error,content){
      if (error) { throw error };
      var zip = new JSZip(content);
      var doc=new Docxtemplater().loadZip(zip);
      var data = getDocIssueData();
      if(data){
        doc.setData(data);
        try {
          doc.render();
        }
        catch (error) {
          var e = {
            message: error.message,
            name: error.name,
            stack: error.stack,
            properties: error.properties,
          }
          console.log(JSON.stringify({error: e}));
          throw error;
        }
        var out=doc.getZip().generate({
          type:"blob",
          mimeType: "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
        })
        var file_name = data.issue_name + ".docx";
        saveAs(out,file_name);
      }
    })
  }

</script>