<p>
  <label>横道图任务类型:</label>
  <%= text_field_tag 'settings[gantt_tracker]', @settings['gantt_tracker'], :size => 120 %><br />
  <em>横道图的任务类型ID</em>
</p>
<p>
  <label>质量评定的任务类型:</label>
  <%= text_field_tag 'settings[target_quality_tracker]', @settings['target_quality_tracker'], :size => 120 %><br />
  <em>创建资料评定的任务类型ID</em>
</p>
<p>
  <label>资料采集完成日期</label>
  <%= text_field_tag 'settings[doc_collect_post_due_date]', @settings['doc_collect_post_due_date'], :size => 120 %><br />
  <em>根据横道图任务的完成日期顺延的天数,请添数字.</em>
</p>
<p>
  <label>质量评定的自定义作者:</label>
  <%= text_field_tag 'settings[doc_pm_default_author]', @settings['doc_pm_default_author'], :size => 120 %><br />
  <em>默认作者的用户ID</em>
</p>
<p>
  <label>总包方文控人员和项目资料收集人员角色ID:</label>
  <%= text_field_tag 'settings[target_quality_rule]', @settings['target_quality_rule'], :size => 120 %><br />
  <em>总包方文控人员和分包方资料收集人员角色ID,中间用','隔开</em>
</p>
<p>
  <label>可导出到WORD的任务状态</label>
  <%= text_field_tag 'settings[target_quality_issue_status_epw]', @settings['target_quality_issue_status_epw'], :size => 120 %><br />
  <span>可输入多项，中间用英文输入法的逗号分隔，例如：1,2</span>
</p>
<p>
  <label>自定义赋值字段-工程分类:</label>
  <%= text_field_tag 'settings[custom_field_gcfl_target_quality_issue]', @settings['custom_field_gcfl_target_quality_issue'], :size => 120 %><br />
</p>
<p>
  <label>自定义赋值字段-规范:</label>
  <%= text_field_tag 'settings[custom_field_gf_target_quality_issue]', @settings['custom_field_gf_target_quality_issue'], :size => 120 %><br />
</p>
<p>
  <label>自定义赋值字段-规范编号:</label>
  <%= text_field_tag 'settings[custom_field_gfcode_target_quality_issue]', @settings['custom_field_gfcode_target_quality_issue'], :size => 120 %><br />
</p>
<p>
  <label>自定义赋值字段-分部工程:</label>
  <%= text_field_tag 'settings[custom_field_fbgc_target_quality_issue]', @settings['custom_field_fbgc_target_quality_issue'], :size => 120 %><br />
</p>
<p>
  <label>自定义赋值字段-子分部</label>
  <%= text_field_tag 'settings[custom_field_zfb_target_quality_issue]', @settings['custom_field_zfb_target_quality_issue'], :size => 120 %><br />
</p>
<p>
  <label>自定义赋值字段-分项/单元</label>
  <%= text_field_tag 'settings[custom_field_fxdy_target_quality_issue]', @settings['custom_field_fxdy_target_quality_issue'], :size => 120 %><br />
</p>
<p>
  <label>自定义赋值字段-流水号</label>
  <%= text_field_tag 'settings[custom_field_doc_serial_number]', @settings['custom_field_doc_serial_number'], :size => 120 %><br />
</p>

